<p id="notice"><%= notice %></p>

<%= javascript_tag do %>
var data = {'data-date-format': 'YYYYMMDD' };
$(function(){
  $('.datepicker').attr(data);
  $('.datepicker').datetimepicker();
});
<% end %>

<h4>実績一覧</h4>

<table id="list_head">
<tr><td>
<!-- 検索フォーム -->
<div id="search_form_box">
<%= form_tag(results_path, method: :get, id: :search_form) do %>
  <div class="field calender">
    <%= label_tag(:result_date, "基準日", { :class => "search-label" } ) %>
    <%= text_field_tag(:result_date_from, @result_date_from ,{ :class => "input-date datepicker" } ) %>
    ～
    <%= text_field_tag(:result_date_to, @result_date_to ,{ :class => "input-date datepicker" } ) %>
    <%= label_tag(:user_id, "　社員", { :class => "search-label" } ) %>
    <%= collection_select(:result, :user_id, User.where(job: '1', delete_flag: '0').order('display_order asc','user_id asc'), :user_id, :user_name, {include_blank: true, :selected => @user_id}  ,{ :class => "input-large" }) %>
    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
    <span class="glyphicon glyphicon-search"></span> 
    <% end %>
    <button class="btn btn-default" type="button" onclick="clearSearchForm()"><i class="glyphicon glyphicon-remove"></i></button>　
  </div>
<% end %>
</div>
</td>

<td id="btn-new">
<%= link_to sanitize('<i class="glyphicon glyphicon-pencil"></i> ') + '新規登録', new_result_path, class: "btn btn-danger" %>
</td>
</tr>
</table>

<div class="x_data_area_result_head">
<div class="x_scroll_box_result_head">
<table class="table table-condensed table-bordered table-hover table-striped result-table">
  <thead>
    <tr>
      <th class="user_name" rowspan="3">社員</th>
      <th class="result_date" rowspan="3">基準日</th>
      <th class="one_char" rowspan="3">商</br>談</th>
      <th class="one_char" rowspan="3">査</br>定</th>
      <th class="one_char" rowspan="3">試</br>乗</th>
      <th colspan="9">新車</th>
      <th class="two_char" rowspan="3">中</br>古</br>車</th>
      <th class="three_char" rowspan="3">初回</br>1ヶ月</br>点検</th>
      <th class="three_char" rowspan="3">初回</br>6ヶ月</br>点検</th>
      <th colspan="2">12,24点検</th>
      <th colspan="2">車検</th>
      <th colspan="3">任意保険</th>
      <th colspan="2" rowspan="3"></th>
    </tr>
    <tr>
      <th colspan="7">受注</th>
      <th colspan="2">登録</th>
      <th class="one_char" rowspan="2">実</br>施</th>
      <th class="three_char" rowspan="2">対象外</br>実施</th>
      <th class="one_char" rowspan="2">実</br>施</th>
      <th class="three_char" rowspan="2">対象外</br>実施</th>
      <th class="one_char" rowspan="2">新</br>規</th>
      <th class="one_char" rowspan="2">継</br>続</th>
      <th class="one_char" rowspan="2">解</br>約</th>
    </tr>
    <tr>
      <th class="two_char">新規</th>
      <th class="two_char">代替</th>
      <th class="two_char">増車</th>
      <th class="two_char">紹介</th>
      <th class="two_char">現金</th>
      <th class="credit_char">ｸﾚｼﾞｯﾄ</th>
      <th class="credit_re_char">残ｸﾚ</th>
      <th class="three_char">当月可</th>
      <th class="two_char">実績</th>
    </tr>
  </thead>
</table>
</div>
</div>

<div class="x_data_area_result">
<div class="x_scroll_box_result">
<table class="table table-condensed table-bordered table-hover table-striped result-table">
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td class="user_name" id="align-left"><%= result.user.user_name %></td>
        <td class="result_date" id="align-center"><%= yyyymmdd_slash(result.result_date) %></td>
        <td class="one_char"><%= result.negotiations %></td>
        <td class="one_char"><%= result.assessment %></td>
        <td class="one_char"><%= result.testdrive %></td>
        <td class="two_char"><%= result.newcar_new %></td>
        <td class="two_char"><%= result.newcar_replace %></td>
        <td class="two_char"><%= result.newcar_add %></td>
        <td class="two_char"><%= result.newcar_introduce %></td>
        <td class="two_char"><%= result.newcar_cash %></td>
        <td class="credit_char"><%= result.newcar_credit %></td>
        <td class="credit_re_char"><%= result.newcar_credit_re %></td>
        <td class="three_char"><%= result.registration_possible %></td>
        <td class="two_char"><%= result.registration_result %></td>
        <td class="two_char"><%= result.usedcar %></td>
        <td class="three_char"><%= result.onemonth %></td>
        <td class="three_char"><%= result.sixmonth %></td>
        <td class="one_char"><%= result.years %></td>
        <td class="three_char"><%= result.years_not %></td>
        <td class="one_char"><%= result.inspection %></td>
        <td class="three_char"><%= result.inspection_not %></td>
        <td class="one_char"><%= result.insurance_new %></td>
        <td class="one_char"><%= result.insurance_renew %></td>
        <td class="one_char"><%= result.insurance_cancel %></td>
        <td class="change_link" id="align-center"><%= link_to '変更', edit_result_path(result) %></td>
        <td class="change_link" id="align-center"><%= link_to '削除', result, method: :delete, data: { confirm: '実績を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
